<p>ng-if-ng-for-ng-switch works!</p>

<div class="row">

<div class="col s3" style="border: brown; border-style: dashed; margin: 10px;">
    <h4>{{title}}</h4>
  
    <ul *ngFor =" let c of cars">
  
  <li> {{c}}</li>


    </ul>
</div>
    <div class="col s3" style="border: brown; border-style: dashed; margin: 10px;">
    <h4>Display data with ngFor and ngIf</h4>
  
    <ul *ngFor =" let n of newcars">
  
      <li style="color:red" *ngIf ="n.average < 7 "> {{n.name}}</li>
      
        </ul>

    </div>

    <div class="col s4  " style="border: brown; border-style: dashed; margin: 10px;">
        <h4>Display data with Switch Directive</h4>
        <ul *ngFor =" let c of newcars" [ngSwitch]="c.name" >
  
            <li *ngSwitchCase="'city'" 
            class="blue-text text-darken-2">{{ c.name }} {{ c.average }}
        </li>
        <li *ngSwitchCase="'polo'"
            class="blue-text text-darken-2">{{ c.name }} {{ c.average }}
        </li>
        
        <li *ngSwitchDefault 
            class="text-success">{{ c.name }} {{ c.average }}
        </li>
            
              </ul>
  </div>



        

    
  </div>
